body, html {
    height: 100%;
}

.box {
    width: 100px;
    height: 100px;
    background-color: red;
    display: block;
    border: 1px solid red;
}

body {
    background: url("/static/img/bg-70.png") repeat;
    color: #5d5d5d;
}

.wrapper {
    position: relative;
}


.open-directory
{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    background: white;
    border-left: 1px solid #e8e2d699;
    border-right: 1px solid #e8e2d699;
    padding: 6px 20px;
    min-height: 100vh;
}

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
    background-color: #ffffffaa
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
    border-color: #ccc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

h3 .highlight {
    font-size: 24px;
}

h1 {
    margin-top: 10px;
}

.intro {
    background: #efefef33;
    margin: 0 -20px 0 -20px;
    padding: 10px 25px;
    margin-bottom: 40px;
    border-bottom: 1px solid #efefef;
}

.blurb {
    padding: 7px 0 3px 0;
}
hr {
    border-top: 1px dashed #e8e2d699;
}

.back {
    padding: 2px 0 1px 0;
    font-size: 13px;
}

p.nopadding {
    padding-bottom: 0;
    margin-bottom: 10px;
}

.highlight {
    white-space: nowrap;
    border-radius: 10px;
    font-weight: 400;
    padding: 3px 6px;
    background: #efefef99;
}

ul.list {
    list-style: none;
}

ul.list.category li {
    float: left;
    width: 100%;
}

a {
    cursor: pointer;
}

.loading {
    text-align: center;
    padding: 30px;
}

.back hr {
    margin: 7px 0;
}

.back {
    margin-bottom: 15px;
}

.entry {
    margin-bottom: 11px;
}

.entry .description {
    margin: 0;
    margin-left: 60px;
}

.entry .url {
    font-size: 14px;
    margin: 0;
    margin-left: 60px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.entry .url a {
    color: #AAA;
}

.entry .url a:hover {
    text-decoration: underline;
}

.entry .time {
    color: #888;
    font-size: 12px;
    margin: 0 0 0 2px;
}

form {
    margin: 10px 0;
}

.upvote {
    font-size: 13px;
    float: left;
    text-align: center;
    padding: 3px 1px;
}

.category-count {
    font-size: 14px;
    padding: 5px;
    color: #AAA;
}

.upvote a {
    display: block;
}

.pending {
    background-color: #BBB;
    color: #fff;
    padding: 2px 7px;
    margin-left: 4px;
    font-size: 12px;
    opacity: 0.75;
    border-radius: 5px;
}

.navigation {
    width: 100%;
    border-bottom: 1px solid #ddd;
    background-color: #555;
    min-height: 49px;
    padding: 11px;
    position: relative;
    z-index: 2;
    box-shadow: 1px 1px 2px #CCCCCCcc;
    color: white;
}

.block {
    background-color: #AAA;
    color: #fff;
    padding: 2px 7px;
    margin-left: 4px;
    font-size: 12px;
    opacity: 0.75;
    border-radius: 5px;
}

.navigation a {
    color: white;
    text-shadow: 1px 1px 1px #00000022;
}

.navigation a:hover {
    text-decoration: underline;
}

.navigation-title {
    font-weight: 500;
}

.navigation-list {
    list-style: none;
}

.navigation-link {
    padding-left: 25px;
}

.intro h1 {
  font-weight: 300;
  font-size: 60px;
}

.intro img {
    width: 350px;
    max-width: 100%;
    padding-top: 20px;
    display: block;
}

.intro li {
    list-style: none;
}

.subcategories {
    margin: 15px 0 25px 0;
}

.subcategories ul.category {
    padding: 7px 14px;
    background: #efefef33;
}

.subcategories ul.category li {
    margin: 0;
}

.subcategories .upvote .arrow {
    float: left;

}

.subcategories h2 {
    font-size: 15px;
    color: #999;
    padding-bottom: 3px;
}


.subcategories .category h3 {
    padding-top: 2px;
    font-size: 17px;
}

.category {
    margin-bottom: 15px;
}

.category .description {
    margin-left: 60px;
    max-height: 125px;
    overflow: hidden;
}

.category .description p {
    line-height: 23px;
    font-size: 15px;
    display: inline;
    margin: 0;
    padding: 0;
}

.category .description p:after {
    content: " ";
}

.subcategories .category {
    margin-bottom: 0px;
}

.subcategories .category .description {
    display: none;
}

.subcategories .category .votes {
    display: none;
}

.entry .upvoteContainer .upvote {
    padding-top: 5px;
    padding-bottom: 3px;
    min-width: 0px;
    width: 60px;
    text-align: center;
}

.category .upvoteContainer .upvote {
    padding-bottom: 3px;
    min-width: 0px;
    width: 60px;
    text-align: center;
}

.subcategories .category .upvoteContainer {
    vertical-align: middle;
    padding: 6px 0;
}

.subcategories .category .upvoteContainer .upvote {
    width: auto;
    white-space: nowrap;
}

.subcategories .category .upvoteContainer .upvote a {
    float: left;
}

.subcategories .category .upvoteContainer .upvote .number {
    float: left;
    padding-left: 2px;
    padding-right: 6px;
}

.subcategories .category .category-count {
    padding: 3px;
    font-size: 12px;
}

.sort .label {
    float: left;
    font-weight: 500;
    color: #777;
}

.sort {
    font-size: 15px;
    margin: 11px 0 6px 0;
}

.sort ul {
    float: left;
    margin: 0;
    padding: 0;
}

.sort ul li {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 14px;
}

.sort ul li a {
    color: #888;
}

.sort ul li a.active {
    text-decoration: underline;
    font-weight: 400;
}

/* https://loading.io/css/ */
.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}
.lds-circle > div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    opacity: 0.1;
    background: #111;
    animation: lds-circle 4.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.pages {
    margin-top: 30px;
    margin-left: 60px;
}

.pages a {
    margin-right: 14px;
    border-bottom: 2px solid #ccc;
    padding: 3px 7px;
    display: inline-block;
    font-size: 13px;
}

.empty-entry-listing {
    background: rgba(255, 255, 255, 0.50);
    padding: 30px 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px dashed #e8e2d699;
    text-align: center;
}

.empty-entry-listing img {
    height: 50px;
    opacity: 0.30;
    padding: 10px;
}

.clearfix.two-column:after {
    clear: none;
}

.clearfix.three-column:after {
    clear: both;
}


.fork {
    background: #4a4a4a;
    border-left: 1px solid #424242;
    box-shadow: -2px 0px 7px #73737375;
    color: #e6e6e6;
    font-size: 14px;
    position: absolute;
    width: 100%;
    max-width: 420px;
    top: 0;
    bottom: auto;
    min-height: 100%;
    right: 0;
    z-index: 100;
    padding: 15px 18px;
}

.fork input,
.fork textarea,
.fork select,
.fork input[type=submit] {
    max-width: 100%;
}

.fork .select-a-theme { 
    text-align: center;
}

.fork .select-theme { 
    text-decoration: none;
    background: white;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 3px solid white;
    color: white;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 13px;
}

.fork .select-a-theme .column { 
    width: 25%;
    float: left;
}

.fork .select-a-theme.row { 
    width: 100%;
    display: block;
}

.fork .select-theme.orange { 
    background-color: #FF6384;
    border-color: #FF6384;
}

.fork .select-theme.active {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 24 24' height='24px' id='Layer_1' version='1.1' viewBox='0 0 24 24' width='24px' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cpath style='fill:%23FFFFFF;' clip-rule='evenodd' d='M21.652,3.211c-0.293-0.295-0.77-0.295-1.061,0L9.41,14.34 c-0.293,0.297-0.771,0.297-1.062,0L3.449,9.351C3.304,9.203,3.114,9.13,2.923,9.129C2.73,9.128,2.534,9.201,2.387,9.351 l-2.165,1.946C0.078,11.445,0,11.63,0,11.823c0,0.194,0.078,0.397,0.223,0.544l4.94,5.184c0.292,0.296,0.771,0.776,1.062,1.07 l2.124,2.141c0.292,0.293,0.769,0.293,1.062,0l14.366-14.34c0.293-0.294,0.293-0.777,0-1.071L21.652,3.211z' fill-rule='evenodd'/%3E%3C/svg%3E");
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: 4px 4px;
}


.fork .select-theme.blue { 
    background-color: #0081CF;
    border-color: #0081CF;
}

.fork .select-theme.purple { 
    background-color: #9b4dca;
    border-color: #9b4dca;
}

.fork .select-theme.green { 
    background-color: #009484;
    border-color: #009484;
}

.fork input[type='email'],.fork  input[type='number'],.fork  input[type='password'],.fork  input[type='search'],.fork  input[type='tel'],.fork  input[type='text'],.fork  input[type='url'],.fork  textarea,.fork  select {
    background-color: #e0e0e0;
}

.fork input[type='email']:focus,.fork  input[type='number']:focus,.fork  input[type='password']:focus,.fork  input[type='search']:focus,.fork  input[type='tel']:focus,.fork  input[type='text']:focus,.fork  input[type='url']:focus,.fork  textarea:focus,.fork  select:focus {
    border-color: #ccc;
}

.fork input {
    margin-bottom: 10;
}

.fork label {
    font-size: 15px;
    line-height: 5px;
    margin-bottom: 10px;
}

.fork textarea {
    height: 100px;
}

.fork .compressed label {
    margin-bottom: 1px;
}

.fork label .desc {
    font-weight: normal;
}

.fork select {
    -webkit-appearance: menulist;
}

.fork .close {
    float: right;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: 900;
}

.fork p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
}

.fork .form-item {
    margin-bottom: 13px;
    padding-top: 5px;
    border-bottom: 1px solid #efefef33;
}

.fork .percentage {
    text-align: center;
}

.fork .button {
    background-color: #4a4a4a;
    border-color: #e6e6e6;
    font-size: 15px;
    padding: 25px 10px;
    display: block;
    line-height: 5px;
    color: #e6e6e6;
    width: 100%;
}

.fork textarea {
    resize: vertical;
}

.fork .button:hover {
    background-color: #e6e6e6;
    color: #4a4a4a;
}

.fork table {
    width: 100%;
    overflow: hidden;
    word-break: break-all;
    margin: 0;
}

.fork .tipchain {
    font-size: 12px;
}

.fork .tipchain td {
    padding: 3px 8px 9px 8px;
    border: 0;
    vertical-align: top;
}

.fork .tipchain .name {
    line-height: 16px;
}

.fork .tipchain .remove {
    width: 20px;
    text-align: center;
    font-weight: 900;
}


.fork a {
    text-decoration: underline;
}

.fork .tipchain .remove a {
    text-decoration: none;
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

.spinner {
    -webkit-transition: 0.15s;
    -moz-transition: 0.15s;
    -o-transition: 0.15s;
    transition: 0.15s;
}

.navigation .spinner {
    opacity: 0;
    visibility: hidden;
    text-align: center;
    position: absolute;
    pointer-events: none;
    top: 0;
    right: 0;
    width: 100%;
}

.navigation .spinner.active {
    opacity: 1;
    visibility: visible;
}

.spinner > div {
    width: 12px;
    height: 12px;
    background-color: #55555577;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner.white > div {
    background-color: #ffffffcc;
}

.loading .spinner {
    margin: 7px 0;
}

.loading .spinner > div {
    width: 18px;
    height: 18px;
}

.messages {
}
.message {
    border-radius: 5px;
    color: white;
    padding: 2px 8px;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 400;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.message a {
    color: white;
    text-decoration: underline;
}

.error {
    background: #CCC;
    border: 1px solid #BBB;
}

.success {
    background: #CCC;
    border: 1px solid #BBB;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.actions {
    font-size: 11px;
}

.actions a {
    margin-right: 6px;
}

.actions .action:hover {
    text-decoration: underline;
}

.notice {
    font-size: 14px;
    background: white;
    margin-top: 11px;
    width: 100%;
}

.notice .warning {
    background: #AAA;
    display: inline-block;
    border-radius: 3px 3px 0 0;
    color: white;
    margin: 0;
    padding: 3px 7px;
    font-weight: 500;
    width: 100%;
    max-width: 500px;
}

.notice .explain {
    display: block;
    padding: 3px 7px;
    font-size: 13px;
    border-radius: 0 0 3px 3px;
    border-size: 0 1px 1px 1px;
    border: 1px solid #DDD;
    width: 100%;
    max-width: 500px;
}

.notice .explain p {
    margin-bottom: 10px;
}


@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

#changelog {
    font-size: 14px;
}

#changelog td {
    border: 0;
    padding: 0;
    font-size: 12px;
}

#changelog pre {
    margin-bottom: 0;
}

#changelog .undo {
    padding-bottom: 40px;
}

#changelog .undo a {
    color: gray;
    text-decoration: underline;
    display: inline-block;
    padding: 7px 0;
}

#changelog .arrow {
    margin-right: 2px;
}

#changelog .height {
    white-space: nowrap;
    padding: 3px;
}

#changelog .action {
    word-break: none;
    white-space: nowrap;
    padding: 3px;
    font-weight: 400;
}

#changelog .address {
    padding: 4px;
    color: #999;
    display: none;
}

#changelog .amount {
    padding: 4px;
    color: #999;
    word-break: none;
    white-space: nowrap;
}

#changelog .time {
    word-break: none;
    white-space: nowrap;
    padding: 4px;
    color: #999;
}

#changelog .description {
    display: none;
}

#changelog td {
    vertical-align: middle;
}

#changelog table {
    margin-top: 7px;
    width: 100%;
    word-break: break-all;
}

#changelog td.undo {
    word-break: break-word;
}

#changelog .expand {
    padding: 3px 3px 3px 19px;
}

#changelog .expand a {
    color: #aaa;
    font-size: 12px;
}

#changelog .expand a:hover {
    color: #bbb;
}

.tipping {
    background: white;
    margin-top: 9px;
    border: 1px solid #eee;
    display: inline-block;
    padding: 6px 12px;
    white-space: nowrap;
    border-radius: 10px;
    overflow: scroll;
    width: 100%;
    max-width: 475px;
}

.tipping strong {
    font-weight: 600;
}

.tipping form {
    margin: 0;
}

.tipping label {
    display: inline;
    font-weight: 400;
    font-size: 13px;
    padding-right: 3px;
    margin-bottom: 0;
}

.tipping .button {
    padding: 6px 10px;
    height: auto;
    line-height: 11px;
    font-size: 13px;
    margin-bottom: 0;
}


.tipping .tip {
    width: 40px;
    font-size: 13px;
    padding: 4px 5px;
    line-height: 11px;
    margin: 0;
    height: auto;
}

.tipping .suggested-tip {
    padding-left: 3px;
    padding-right: 7px;
}

.tipping .tipchain {
    font-size: 11px;
    color: #aaa;
    padding: 2px 2px 2px 2px;
}

.tipping .tipchain ul {
    list-style: none;
    margin: 0;
}

.tipping .tipchain li {
    margin: 0;
    padding: 0;
}

.tipping .tipchain p {
    margin: 0;
}

.tipping .tipchain a {
    color: #aaa;
    text-decoration: underline;
}

.tipping .money-button-wrapper {
    clear: both;
    padding-top: 5px;
}

.tipping hr {
    margin: 0px;
    margin-top: 5px;
    margin-bottom: 2px;
}

.number .symbol {
    color: #999;
}

.inline-edit {
    width: 50%;
    margin-left: 60px;
    background: #efefef33;
    padding: 11px 15px;
    border-radius: 5px;
}

.inline-edit h3 {
    font-size: 24px;
}

.inline-edit h3 .highlight {
    font-size: 24px;
}

.inline-delete {
    margin-left: 60px;
}
/** Orange Theme **/
.orange-theme a {
    color: #FF6384;
}

.orange-theme .button,
.orange-theme button,
.orange-theme input[type='button'],
.orange-theme input[type='reset'],
.orange-theme input[type='submit'] {
    background-color: #FF6384;
    color: #FF6384;
}

.orange-theme .button.button-outline,
.orange-theme button.button-outline,
.orange-theme input[type='button'].button-outline,
.orange-theme input[type='reset'].button-outline,
.orange-theme input[type='submit'].button-outline {
    border-color: #FF6384;
    color: #FF6384;
    background-color: white;
}

.orange-theme .pending {
    background-color: #FF9464;
}

.orange-theme .navigation {
    background-image: linear-gradient(to right, #ff6384, #ff6e79, #ff7b70, #ff8769, #ff9464);
    border-color: #FF6384cc;
}
.orange-theme .navigation a {
    color: #FFFFFFEE;
}
.orange-theme .block {
    background-color: #FF6384;
}

.orange-theme .error {
    background: #FF6384;
    border: 1px solid #FF6384;
}

.orange-theme .success {
    background: #FF9464;
    border: 1px solid #FF9464;
}

.orange-theme .notice .warning {
    background: #FF6384;
}

.orange-theme pre {
    border-color: #FF6384;
}

.orange-theme .pages a.active {
    border-color: #FF6384;
    color: #FF6384;
}

.orange-theme .intro h1 {
    background-image: linear-gradient(to right, #ff6384, #ff6e79, #ff7b70, #ff8769, #ff9464);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.orange-theme .fork a {
    color: #e6e6e6;
}
.orange-theme .fork input[type=submit] {
    background-color: #4a4a4a;
    border-color: #e6e6e6;
    color: #e6e6e6;
}

.orange-theme .fork input[type=submit]:hover {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    color: #4a4a4a;
}

.orange-theme .message a {
    color: white;
}

/** Blue Theme **/
.blue-theme a {
    color: #0081CF;
}

.blue-theme button,
.blue-theme input[type='button'],
.blue-theme input[type='reset'],
.blue-theme input[type='submit'] {
    background-color: #0081CF;
    color: #0081CF;
}

.blue-theme .button.button-outline,
.blue-theme button.button-outline,
.blue-theme input[type='button'].button-outline,
.blue-theme input[type='reset'].button-outline,
.blue-theme input[type='submit'].button-outline {
    border-color: #0081CF;
    color: #0081CF;
    background-color: white;
}

.blue-theme .pending {
    background-color: #FF9464;
}

.blue-theme .navigation {
}
.blue-theme .navigation a {
    color: #FFFFFFEE;
}
.blue-theme .block {
    background-color: #0081CF;
}

.blue-theme .error {
    background: #0081CF;
    border: 1px solid #0081CF;
}

.blue-theme .success {
    background: #00C2D0;
    border: 1px solid #00C2D0;
}

.blue-theme .notice .warning {
    background: #0081CF;
}

.blue-theme pre {
    border-color: #0081CF;
}

.blue-theme .pages a.active {
    border-color: #0081CF;
    color: #0081CF;
}

.blue-theme .intro h1 {
    background-image: linear-gradient(to right top, #0081cf, #0093d6, #00a4d7, #00b3d5, #00c2d0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blue-theme .fork a {
    color: #e6e6e6;
}
.blue-theme .fork input[type=submit] {
    background-color: #4a4a4a;
    border-color: #e6e6e6;
    color: #e6e6e6;
}

.blue-theme .fork input[type=submit]:hover {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    color: #4a4a4a;
}

.blue-theme .message a {
    color: white;
}

/** Purple Theme **/
.purple-theme .intro h1 {
    background-image: linear-gradient(to right top, #9b4dca, #b34ac4, #c848bc, #db47b4, #eb48ab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.purple-theme .fork a {
    color: #e6e6e6;
}
.purple-theme .fork input[type=submit] {
    background-color: #4a4a4a;
    border-color: #e6e6e6;
    color: #e6e6e6;
}

.purple-theme .fork input[type=submit]:hover {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    color: #4a4a4a;
}


.purple-theme .block {
    background-color: #9b4dca;
}

.purple-theme .pages a.active {
    border-color: #9b4dca;
    color: #9b4dca;
}

.purple-theme .error {
    background: #BA99CB;
    border: 1px solid #BA99CB;
}

.purple-theme .success {
    background: #9b4dca;
    border: 1px solid #9b4dca;
}

.purple-theme .message a {
    color: white;
}


/** Green Theme **/
.green-theme a {
    color: #37AB85;
}

.green-theme button,
.green-theme input[type='button'],
.green-theme input[type='reset'],
.green-theme input[type='submit'] {
    background-color: #37AB85;
    color: #37AB85;
}

.green-theme .button.button-outline,
.green-theme button.button-outline,
.green-theme input[type='button'].button-outline,
.green-theme input[type='reset'].button-outline,
.green-theme input[type='submit'].button-outline {
    border-color: #37AB85;
    color: #37AB85;
    background-color: white;
}

.green-theme .pending {
    background-color: #FF9464;
}

.green-theme .navigation {
}
.green-theme .navigation a {
    color: #FFFFFFEE;
}
.green-theme .block {
    background-color: #37AB85;
}

.green-theme .error {
    background: #37AB85;
    border: 1px solid #37AB85;
}

.green-theme .success {
    background: #00C2D0;
    border: 1px solid #00C2D0;
}

.green-theme .notice .warning {
    background: #37AB85;
}

.green-theme pre {
    border-color: #37AB85;
}

.green-theme .pages a.active {
    border-color: #37AB85;
    color: #37AB85;
}

.green-theme .intro h1 {
    background-image: linear-gradient(to right bottom, #009484, #20a085, #36ab85, #4cb683, #62c181);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.green-theme .fork a {
    color: #e6e6e6;
}
.green-theme .fork input[type=submit] {
    background-color: #4a4a4a;
    border-color: #e6e6e6;
    color: #e6e6e6;
}

.green-theme .fork input[type=submit]:hover {
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    color: #4a4a4a;
}


/* END THEMES */

.actions .action {
    color: #888;
}

.actions .arrow {
    color: #ddd;
}

.actions .arrow:hover {
    color: #bbb;
}

.pages a {
    color: #ccc;
}

.pages a:hover {
    border-color: #999;
    color: #999;
}

.pages a.active {
    border-color: #666;
    color: #666;
}


/* Larger than mobile screen */
@media (min-width: 45.0rem) {
    ul.list li.category {
        width: 50%;
    }

    .delete {
        width: 550px;
    }

    #changelog {
    }

    #changelog .height {
        width: 105px;
        padding: 4px;
    }

    #changelog .action {
        width: 110px;
        padding: 4px;
    }

    #changelog .amount {
        padding: 4px;
    }

    #changelog .time {
        width: 115px;
        padding: 0px 4px;
    }

    #changelog .description {
        padding: 4px;
        width: 140px;
        display: table-cell;
    }

    #changelog .address {
        padding: 4px;
        display: table-cell;
    }


    .clearfix.two-column:after {
        clear: both;
    }

    .clearfix.three-column:after {
        clear: none;
    }

    .tipping {
        margin-left: 40px;
        width: 92%;
    }

    .fork {
        width: 420px;
    }
}

/* Larger than tablet screen */
@media (min-width: 85.0rem) {

    ul.list li.category {
        width: 33%;
    }

    .clearfix.two-column:after {
        clear: none;
    }

    .clearfix.three-column:after {
        clear: both;
    }

}

/* Larger than desktop screen */
@media (min-width: 125.0rem) {
}
