body {
    background: url("/static/img/bg-50.png") repeat;
}

.open-directory
{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
    background-color: #ffffffaa
}

input[type='email']:focus, input[type='number']:focus, input[type='password']:focus, input[type='search']:focus, input[type='tel']:focus, input[type='text']:focus, input[type='url']:focus, textarea:focus, select:focus {
    border-color: #ccc;
}

body.theme-purple a { color: #9B4DCA; }
body.theme-pink a { color: #EB48AB; }
body.theme-reddish a { color: #FF6384; }
body.theme-orange1 a { color: #FF9464; }
body.theme-orange2 a { color: #FFC857; }
body.theme-yellow a { color: #F9F871; }

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 0;
}

h3 .highlight {
    font-size: 21px;
}

h1 {
    margin-top: 10px;
}

.intro {
    background: rgba(255, 255, 255, 0.69);
    padding: 10px 20px 10px 20px;
    margin-bottom: 40px;
    border-radius: 5px;
    border: 1px solid #e8e2d699;
}

.blurb {
    padding: 7px 0 3px 0;
}

hr {
    border-top: 1px dashed #e8e2d699;
}

p.nopadding {
    padding-bottom: 0;
    margin-bottom: 10px;
}

.highlight {
    background-color: #FF6384;
    color: white;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 400;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
    background-color: #FF6384;
    color: #FF6384;
}

.button.button-outline, button.button-outline, input[type='button'].button-outline, input[type='reset'].button-outline, input[type='submit'].button-outline {
    border-color: #FF6384;
    color: #FF6384;
}

ul.list {
    list-style: none;
}

ul.list.category li {
    float: left;
    width: 100%;
}

a {
    cursor: pointer;
    color: #FF6384;
}

.loading {
    text-align: center;
    padding: 30px;
}

.back hr {
    margin: 7px 0;
}

.back {
    margin-bottom: 15px;
}

.entry {
    margin-bottom: 11px;
}

.entry .description {
    margin: 0;
}

.entry .url {
    font-size: 14px;
    margin: 0;
}

.entry .url a {
    color: #AAA;
}

.entry .url a:hover {
    text-decoration: underline;
}

form {
    margin: 10px 0;
}

.upvote {
    font-size: 13px;
    float: left;
    text-align: center;
    padding: 3px 1px;
}

.category-count {
    font-size: 14px;
    padding: 5px;
    color: #AAA;
}

.upvote a {
    display: block;
}

.pending {
    background-color: #FF9464;
    color: #fff;
    padding: 2px 7px;
    margin-left: 4px;
    font-size: 12px;
    opacity: 0.75;
    border-radius: 5px;
}

.navigation {
    width: 100%;
    background: #efece577;
    border-bottom: 1px solid #ddd;
    padding: 11px;
    color: #444;
}

.navigation a {
    color: #666;
}

.navigation-title {
    font-weight: 500;
}

.navigation-list {
    list-style: none;
}

#logo {
    width: 500px;
    max-width: 100%;
    padding: 20px 0;
}

.intro li {
    list-style: none;
}

.entry .upvoteContainer .upvote {
    float: left;
    padding: 5px 11px 3px 0px;
}

.category .upvoteContainer .upvote {
    padding: 8px 11px 3px 0px;
    font-size: 15px;
    float: left;
}

.sort .label {
    float: left;
    font-weight: 500;
    color: #777;
}

.sort {
    font-size: 15px;
    margin: 11px 0 6px 0;
}

.sort ul {
    float: left;
    margin: 0;
    padding: 0;
}

.sort ul li {
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    margin-left: 14px;
}

.sort ul li a {
    color: #EB48AB;
}

.sort ul li a.active {
    text-decoration: underline;
    font-weight: 400;
}

.upvoteContainer .entry,
.upvoteContainer .category {
    float: left;
    max-width: 90%;
}
/* https://loading.io/css/ */
.lds-circle {
    display: inline-block;
    transform: translateZ(1px);
}
.lds-circle > div {
    display: inline-block;
    width: 51px;
    height: 51px;
    margin: 6px;
    border-radius: 50%;
    opacity: 0.1;
    background: #111;
    animation: lds-circle 4.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.pages {
    margin-top: 30px;
}

.pages a {
    margin-right: 11px;
    border: 1px solid #ccc;
    padding: 3px 7px;
    display: inline-block;
    color: #ccc;
    font-size: 13px;
}

.pages a:hover {
    border-color: #bbb;
    color: #aaa;
    background-color: #eeeeee22;
}
.pages a.active {
    border-color: #FF6384;
    color: #FF6384;
}

@keyframes lds-circle {
    0%, 100% {
        animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
    }
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
        animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

/* Larger than mobile screen */
@media (min-width: 40.0rem) {
    ul.list li.category {
        width: 50%;
    }
}

/* Larger than tablet screen */
@media (min-width: 80.0rem) {
    ul.list li.category {
        width: 33%;
    }
}

/* Larger than desktop screen */
@media (min-width: 120.0rem) {
}
